<div id="<%= dom_id usuario_personagem %>">
  <p>
    <strong>User:</strong>
    <%= usuario_personagem.user_id %>
  </p>

  <p>
    <strong>Personagem:</strong>
    <%= usuario_personagem.personagem_id %>
  </p>

</div>
