<h1>Editing usuario personagem</h1>

<%= render "form", usuario_personagem: @usuario_personagem %>

<br>

<div>
  <%= link_to "Show this usuario personagem", @usuario_personagem %> |
  <%= link_to "Back to usuario personagems", usuario_personagems_path %>
</div>
